.in-between{
  width: 70%;
  background-color: #F8F0E3;
  position: absolute;
  left: 0;
  right: 0;
  top: 2%;
  bottom: 2%;
  margin: auto;
  padding: 2% 5%;
  border-radius: 10px;
}

.row1{
  display: flex;
  justify-content: center;
}

.column1-1, .column1-2{
  width: 30%;
  text-align: center;
}
.prevrow{
  display: flex;
}
.prevrow-1, .prevrow-2, .prevrow-3{
  flex: 100%;
  text-align: center;
}



.card-1, .card-2, .card-3{
  border: 5px solid #E9724C;
  border-radius: 15px;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  padding: 50px 20px;
  font-weight: bold;
}

.buttons{
  text-align: center;
}

#btn1, #btn2, #btn3{
  flex: 100%;
  margin: 10px;
  font-size: 19px;
  font-family:monospace;
  background-color: #E9724C;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
}

#btn1:disabled, #btn2:disabled{
  background-color: #552b1d;
}

.row2{
  width: 65%;
  text-align: center;
}

h1, h2, h3, p{
  color: #E9724C;
  font-family:monospace ;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 30px;
  text-align: center;
}

h3, p{
  font-size: 30px;
}
