.in-between{
  width: 70%;
  background-color: #F8F0E3;
  position: absolute;
  left: 0;
  right: 0;
  top: 2%;
  margin: auto;
  padding: 3%;
  border-radius: 10px;
}

.row1{
  display: flex;
}

.column1-1, .column1-2{
  flex: 100%;
  text-align: center;
}
.prevrow{
  display: flex;
}
.prevrow-1, .prevrow-2, .prevrow-3{
  flex: 100%;
  text-align: center;
}



.card-1, .card-2, .card-3{
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  padding: 50px 20px;
  font-weight: bold;
}

.buttons{
  text-align: center;
}

.btn1, .btn2{
  flex: 100%;
  margin: 10px;
  font-size: 19px;
}

.btn1

.row2{
  width: 65%;
  text-align: center;
}